<div class="chat">
    <div class="chats-container" #chatContainer>
        @defer{
        @for(chat of chats(); track $index){
        <app-chat-card [author]="chat.users.full_name" [avatar_url]="chat.users.avatar_url" [message]="chat.text"
            [created_at]="chat.created_at" [id]="chat.id" [author_id]="chat.sender" [loading]="false"></app-chat-card>
        }
        }
        @placeholder(minimum 1s) {
        @for(i of placeholder; track $index){
        <app-chat-card author="John Doe" message="Loading" [loading]="true"></app-chat-card>
        }
        }
        @loading {
        <div>Loading chats...</div>
        }@error {
        <p>No messages found!</p>
        }
    </div>
    <app-chat-input></app-chat-input>
    <app-chat-footer></app-chat-footer>
</div>