.card{
    display: flex;
    border-radius: 12px;
    margin-bottom: 0.5rem;
}

.message .name{
    margin: 0px;
    font-weight: 900;
}

.profile_image{
    margin: 0.2rem 0.4rem;
}

.author{
    background-color: rgb(231,240,254);
}

.guest{
    border: 1px solid rgb(231,240,254);;
}