.card {
  display: flex;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  color: black;
  border: 1px solid rgb(231, 240, 254);
}

.message .name {
  margin: 0px;
  font-weight: 900;
}

.profile_image {
  margin: 0.2rem 0.4rem;
}

.profile_image img {
  height: 40px;
  border-radius: 50px;
}

.profile_image p {
  font-size: 0.5rem;
  margin: 0px 0px;
}

.author {
  background-color: rgb(231, 240, 254);
}

.guest {
  border: 1px solid rgb(231, 240, 254);
}
