<div class="header">
    <div class="left">
        <h1>Angular <span>Message</span></h1>
    </div>
    @if(!isUserLoggedIn){
    <div class="right">
        <p>Made with <span>Angular</span> and <span>Supabase</span></p>
    </div>
    }@else {
    <div class="right">
        <button class="logout_button" (click)="logout()">
            Logout
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M9 12h12l-3 -3" />
                <path d="M18 15l3 -3" />
            </svg>
        </button>
    </div>
    }
</div>